html
  include ./head/head.jade
  body
    include ./nav/nav.jade
    div(class="container")
      div(class="panel panel-default")
        div(class="panel-body") 不须放屁，试看天地翻覆！
      div(class="panel panel-info")
        div(class="panel-heading") APP基本信息
        div(class="panel-body") TEST的使命是让每个人都能记录生活中的每一段时刻，每一个灵感，每一次心动，每一种经历。
                    随时随地在所有平台或设备上记录所思所想，所见所得，并能迅速的搜索到任何记忆。
                    在美国，有一个谚语是“大象永远不会忘记”；
                    在中国，TEST也能够帮助你永远不会忘记。
                    我们一直在为了这个使命而努力。TEST的用户可以创建文本和手写笔记，拍摄一道美味的菜肴，
                    录下一段奇妙的音乐，记录一次心爱的旅途，剪辑网页上的文章，随时记录，随时搜索，随时保存。