html
  include ./head/head.jade
  body
    include ./nav/nav.jade
    
    div(class="container")
      div(style={height: '200px'})
    div(class="container")
      div(class="row")
        div(class="col-md-3") 
          ul(class="nav")
            each val in navs
              li
               a(href="#"+val.url)= val.name        
        div(class="col-md-9")
          h3!=msg
          include ./forms/todo.jade
          include ./modals/modal.html
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="https://rawgit.com/flatiron/director/master/build/director.min.js")
    script(src="/js/app-index.js")