form(name="todoForm")
    div(class="form-group")
      label(for="titleIpt") 标题
      input(id="titleIpt", class="form-control", name="title", type="text", placeholder="添加标题", v-model="title")
    div(class="form-group")
      label(for="contentIpt") 任务描述
      textarea(id="contentIpt", rows="5" class="form-control", name="content", placeholder="添加任务描述", v-model="content")
    button(type="button", id="addTodoBtn" class="btn btn-primary" v-on="click: onClick") 添加
